@font-face {
    font-family: 'Gill Sans MT Pro UltraBold Cond';
    src: url('../font/GillSansMTPro-UltraBoldCond.woff2') format('woff2'),
        url('../font/GillSansMTPro-UltraBoldCond.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #272351;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans MT Pro UltraBold Cond';
    font-size: 55px;
    color: #73B966;
    text-shadow: 3px -2px #E74148;
    letter-spacing: 2px;
}

section {
    display: flex;
    flex-direction: column;
}

.starter-text, .game-over, .win {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 510px;
    height: 360px;
    margin: auto;
    background-color: #F1EBD3;
    border: 20px solid #2DAAA2;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #352459;
    padding: 6px 35px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.starter-text img, .win img {
    margin-top: 20px;
}

.start-btn, .replay-btn, .win-btn {
    color: white;
    font-family: 'Gill Sans MT Pro UltraBold Cond';
    font-size: 30px;
    width: 200px;
    height: 45px;
    line-height: 55px;
    margin: auto;
    margin-top: 55px;
    background-color: #E74148;
    border: none;
}

canvas {
    margin: auto;
    background-color: #070334;
}

.hide {
    display: none;
}